<div id="profile" class="py-20">
  <div class="px-6">
    <div class="px-2">

      <div class="inline-flex space-x-2 items-center">
        <span>
          <img class="rounded-full w-[95px] h-[110px]"
            src="/IMG-20250424-WA0025.jpg" alt="" />
        </span>
        <span class="text-base md:text-4xl font-bold">Yerai Araujo</span>
      </div>

      <div class="py-8">
        <h1 class="text-lg md:text-2xl font-bold text-white">
          Backend Software Engineer<br />
          <span class="text-blue-500">Java | Spring</span>
        </h1>
      </div>

      <p class="text-slate-500 text-base md:text-lg font-bold pb-6 border-b border-slate-700">
        Ingeniería del Software<br />
        Universidad Politécnica de Madrid
      </p>

    </div>
  </div>
</div>
